@let unity = character();
<div class="max-w-sm rounded-lg shadow dark:bg-orange-ink">
  <div class="flex justify-center">
    <img
      class="rounded-t-lg p-2"
      [ngSrc]="unity.photo"
      [alt]="unity.name"
      width="120"
      height="120"
    />
  </div>
  <div class="p-4">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ unity.name }}
    </h5>
    <p class="mb-3 font-normal text-red-ink">
      {{ unity.traits | traitsSeparator }}
    </p>
    <app-counter />
  </div>
</div>
