@let unity = character();
<div class="max-w-sm rounded-lg shadow dark:bg-blue-caitlyn-hair">
  <div class="flex justify-center">
    <img
      class="rounded-t-lg p-2"
      [ngSrc]="unity.photo"
      [alt]="unity.name"
      width="120"
      height="120"
      loading="lazy"
      disableOptimizedSrcset
    />
  </div>
  <div class="p-4">
    <h3 class="mb-2 text-2xl font-bold tracking-tight text-blue-jinx">
      {{ unity.name }}
    </h3>
    <p class="mb-3 font-medium text-vi-pink">
      {{ unity.traits | traitsSeparator }}
    </p>
    <ng-content></ng-content>
  </div>
</div>
