<div class="flex justify-around items-center">
  <button
    type="button"
    (click)="decrease()"
    aria-label="Diminui a contagem em 1"
    aria-details="Este botão diminui a contagem de 1 em 1. O botão fica desabilitado quando o valor do contador é menor ou igual a zero"
    [disabled]="character.timesBought < 1"
    [attr.aria-disabled]="character.timesBought < 1"
    class="font-bold text-xl bg-blue-jinx text-golden-senna rounded-full w-10 h-10 disabled:bg-magic-purple-100/20 hover:bg-blue-jinx/60"
    data-button="decrease"
  >
    -
  </button>

  <span
    aria-atomic="true"
    aria-live="assertive"
    aria-relevant="additions"
    class="text-golden-senna font-medium"
    >{{ character.timesBought }} unidade{{
      character.timesBought > 1 ? "s" : ""
    }}</span
  >
  <button
    type="button"
    (click)="increment()"
    aria-label="Aumenta a contagem em 1"
    class="font-bold text-xl bg-blue-jinx text-golden-senna rounded-full w-10 h-10 hover:bg-blue-jinx/60"
    data-button="increase"
  >
    +
  </button>
</div>
