<app-header>
  <div class="flex flex-1 items-center justify-end">
    <div class="flex items-end gap-4">
      <div class="sm:flex sm:gap-4">
        @defer {
        <app-xls />

        <app-csv />
        }
        <!-- <a
          class="text-magic-white hover:text-red-ink visited:text-red-ink/60 font-medium"
          href="https://tftacademy.com/tierlist/comps"
          target="_blank"
          rel="noopener noreferrer"
          >Melhores composições</a
        > -->
      </div>
    </div>
  </div>
</app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
