/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #8157d2, #5971c7) 0% 0% / 100% 50%,
    linear-gradient(to right, #bd7ddb, #756dde) 0% 50% / 100% 50%;
}
